USE [SistemaMonitoreoSalud]
GO
/****** Object:  Table [dbo].[Usuario]    Script Date: 28/10/2025 11:00:47 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Usuario](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[nombre] [nvarchar](100) NOT NULL,
	[rol] [nvarchar](20) NULL,
	[correo] [nvarchar](100) NULL,
	[clave] [nvarchar](100) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[RegistroEmocional]    Script Date: 28/10/2025 11:00:47 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[RegistroEmocional](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[usuario_id] [int] NOT NULL,
	[fecha] [datetime] NULL,
	[texto] [nvarchar](max) NULL,
	[emocion] [nvarchar](50) NULL,
	[puntaje] [decimal](4, 2) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  View [dbo].[vw_ResumenEmocional]    Script Date: 28/10/2025 11:00:47 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[vw_ResumenEmocional] AS
SELECT 
    r.id AS id_registro,
    u.nombre AS usuario,
    r.fecha,
    r.texto,
    r.emocion,
    r.puntaje
FROM RegistroEmocional r
JOIN Usuario u ON r.usuario_id = u.id;
GO
/****** Object:  View [dbo].[vw_ResumenEstudiantes]    Script Date: 28/10/2025 11:00:47 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- Vista resumen por estudiante
CREATE VIEW [dbo].[vw_ResumenEstudiantes] AS
SELECT
    u.id AS usuario_id,
    u.nombre,
    COUNT(r.id) AS total_registros,
    AVG(CAST(r.puntaje AS FLOAT)) AS promedio_puntaje,
    MAX(r.fecha) AS ultima_fecha,
    -- Emoción más frecuente (simple usando MIN/MAX trick, para SQL Server una aproximación)
    (SELECT TOP 1 r2.emocion
     FROM RegistroEmocional r2
     WHERE r2.usuario_id = u.id
     GROUP BY r2.emocion
     ORDER BY COUNT(*) DESC) AS emocion_mas_frecuente
FROM Usuario u
LEFT JOIN RegistroEmocional r ON r.usuario_id = u.id
WHERE u.rol = 'estudiante' -- solo estudiantes en el resumen
GROUP BY u.id, u.nombre;
GO
/****** Object:  Table [dbo].[AlertaEmocional]    Script Date: 28/10/2025 11:00:47 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AlertaEmocional](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[usuario_id] [int] NOT NULL,
	[descripcion] [nvarchar](255) NULL,
	[urgencia] [int] NULL,
	[fecha] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PalabrasClaves]    Script Date: 28/10/2025 11:00:47 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PalabrasClaves](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[palabra] [nvarchar](50) NOT NULL,
	[tipo] [nvarchar](20) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[AlertaEmocional] ON 

INSERT [dbo].[AlertaEmocional] ([id], [usuario_id], [descripcion], [urgencia], [fecha]) VALUES (1, 1, N'Posible depresión detectada', 3, CAST(N'2025-10-14T21:39:18.183' AS DateTime))
SET IDENTITY_INSERT [dbo].[AlertaEmocional] OFF
GO
SET IDENTITY_INSERT [dbo].[PalabrasClaves] ON 

INSERT [dbo].[PalabrasClaves] ([id], [palabra], [tipo]) VALUES (1, N'feliz', N'positivo')
INSERT [dbo].[PalabrasClaves] ([id], [palabra], [tipo]) VALUES (2, N'contento', N'positivo')
INSERT [dbo].[PalabrasClaves] ([id], [palabra], [tipo]) VALUES (3, N'excelente', N'positivo')
SET IDENTITY_INSERT [dbo].[PalabrasClaves] OFF
GO
SET IDENTITY_INSERT [dbo].[RegistroEmocional] ON 

INSERT [dbo].[RegistroEmocional] ([id], [usuario_id], [fecha], [texto], [emocion], [puntaje]) VALUES (1, 1, CAST(N'2025-10-14T21:39:18.180' AS DateTime), N'Me siento muy feliz hoy', N'Positiva', CAST(0.80 AS Decimal(4, 2)))
INSERT [dbo].[RegistroEmocional] ([id], [usuario_id], [fecha], [texto], [emocion], [puntaje]) VALUES (2, 1, CAST(N'2025-10-14T21:39:18.180' AS DateTime), N'Estoy un poco triste y sin ánimos', N'Negativa', CAST(-0.60 AS Decimal(4, 2)))
INSERT [dbo].[RegistroEmocional] ([id], [usuario_id], [fecha], [texto], [emocion], [puntaje]) VALUES (3, 1, CAST(N'2025-10-21T20:56:16.693' AS DateTime), N'Hol estoy triste', N'negativo', CAST(-0.33 AS Decimal(4, 2)))
SET IDENTITY_INSERT [dbo].[RegistroEmocional] OFF
GO
SET IDENTITY_INSERT [dbo].[Usuario] ON 

INSERT [dbo].[Usuario] ([id], [nombre], [rol], [correo], [clave]) VALUES (1, N'Alumno Demo', N'estudiante', N'alumno@demo.com', N'123')
INSERT [dbo].[Usuario] ([id], [nombre], [rol], [correo], [clave]) VALUES (2, N'Psicóloga Ana', N'psicologo', N'ana@instituto.com', N'123')
INSERT [dbo].[Usuario] ([id], [nombre], [rol], [correo], [clave]) VALUES (3, N'Administrador', N'admin', N'admin@demo.com', N'admin')
SET IDENTITY_INSERT [dbo].[Usuario] OFF
GO
ALTER TABLE [dbo].[AlertaEmocional] ADD  DEFAULT ((1)) FOR [urgencia]
GO
ALTER TABLE [dbo].[AlertaEmocional] ADD  DEFAULT (getdate()) FOR [fecha]
GO
ALTER TABLE [dbo].[RegistroEmocional] ADD  DEFAULT (getdate()) FOR [fecha]
GO
ALTER TABLE [dbo].[Usuario] ADD  DEFAULT ('estudiante') FOR [rol]
GO
ALTER TABLE [dbo].[AlertaEmocional]  WITH CHECK ADD  CONSTRAINT [FK_Alerta_Usuario] FOREIGN KEY([usuario_id])
REFERENCES [dbo].[Usuario] ([id])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AlertaEmocional] CHECK CONSTRAINT [FK_Alerta_Usuario]
GO
ALTER TABLE [dbo].[RegistroEmocional]  WITH CHECK ADD  CONSTRAINT [FK_Registro_Usuario] FOREIGN KEY([usuario_id])
REFERENCES [dbo].[Usuario] ([id])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[RegistroEmocional] CHECK CONSTRAINT [FK_Registro_Usuario]
GO
ALTER TABLE [dbo].[PalabrasClaves]  WITH CHECK ADD CHECK  (([tipo]='alarma' OR [tipo]='negativo' OR [tipo]='positivo'))
GO
/****** Object:  StoredProcedure [dbo].[ActualizarUsuario_SP]    Script Date: 28/10/2025 11:00:47 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- ===============================================
-- Actualizar usuario existente
-- ===============================================
CREATE PROCEDURE [dbo].[ActualizarUsuario_SP]
    @id INT,
    @nombre NVARCHAR(100),
    @rol NVARCHAR(20),
    @correo NVARCHAR(100),
    @clave NVARCHAR(100)
AS
BEGIN
    UPDATE Usuario
    SET nombre = @nombre,
        rol = @rol,
        correo = @correo,
        clave = @clave
    WHERE id = @id;
END
GO
/****** Object:  StoredProcedure [dbo].[EliminarUsuario_SP]    Script Date: 28/10/2025 11:00:47 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- ===============================================
-- Eliminar usuario por ID
-- ===============================================
CREATE PROCEDURE [dbo].[EliminarUsuario_SP]
    @id INT
AS
BEGIN
    DELETE FROM Usuario WHERE id = @id;
END
GO
/****** Object:  StoredProcedure [dbo].[InsertarAlertaEmocional]    Script Date: 28/10/2025 11:00:47 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[InsertarAlertaEmocional]
    @usuario_id INT,
    @descripcion NVARCHAR(255),
    @urgencia INT
AS
BEGIN
    SET NOCOUNT ON;

    INSERT INTO AlertaEmocional (usuario_id, descripcion, urgencia)
    VALUES (@usuario_id, @descripcion, @urgencia);

    -- ✅ Devuelve el ID del nuevo registro insertado
    SELECT SCOPE_IDENTITY() AS NuevoID;
END
GO
/****** Object:  StoredProcedure [dbo].[InsertarRegistroEmocional]    Script Date: 28/10/2025 11:00:47 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[InsertarRegistroEmocional]
    @usuario_id INT,
    @texto NVARCHAR(MAX),
    @emocion NVARCHAR(50),
    @puntaje DECIMAL(4,2)
AS
BEGIN
    SET NOCOUNT ON;

    INSERT INTO RegistroEmocional (usuario_id, texto, emocion, puntaje)
    VALUES (@usuario_id, @texto, @emocion, @puntaje);

    -- ✅ Devuelve el ID del nuevo registro insertado
    SELECT SCOPE_IDENTITY() AS NuevoID;
END
GO
/****** Object:  StoredProcedure [dbo].[InsertarUsuario_SP]    Script Date: 28/10/2025 11:00:47 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- ===============================================
-- Insertar nuevo usuario
-- ===============================================
CREATE PROCEDURE [dbo].[InsertarUsuario_SP]
    @nombre NVARCHAR(100),
    @rol NVARCHAR(20),
    @correo NVARCHAR(100),
    @clave NVARCHAR(100)
AS
BEGIN
    INSERT INTO Usuario (nombre, rol, correo, clave)
    VALUES (@nombre, @rol, @correo, @clave);
END
GO
/****** Object:  StoredProcedure [dbo].[ObtenerResumenEmocional]    Script Date: 28/10/2025 11:00:47 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[ObtenerResumenEmocional]
    @inicio DATE,
    @fin DATE
AS
BEGIN
    SELECT *
    FROM vw_ResumenEmocional
    WHERE CONVERT(DATE, fecha) BETWEEN @inicio AND @fin
    ORDER BY fecha DESC;
END
GO
/****** Object:  StoredProcedure [dbo].[ObtenerResumenEmocionalPorUsuarioYRango]    Script Date: 28/10/2025 11:00:47 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE   PROCEDURE [dbo].[ObtenerResumenEmocionalPorUsuarioYRango]
    @usuario_id INT,
    @inicio DATE,
    @fin DATE
AS
BEGIN
    SET NOCOUNT ON;

    SELECT 
        r.id AS id_registro,
        u.nombre AS usuario,
        r.fecha,
        r.texto,
        r.emocion,
        r.puntaje
    FROM RegistroEmocional r
    INNER JOIN Usuario u ON r.usuario_id = u.id
    WHERE r.usuario_id = @usuario_id
      AND CONVERT(DATE, r.fecha) BETWEEN @inicio AND @fin
    ORDER BY r.fecha DESC;
END;
GO
/****** Object:  StoredProcedure [dbo].[ObtenerResumenEmocionalTodo]    Script Date: 28/10/2025 11:00:47 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[ObtenerResumenEmocionalTodo]
AS
BEGIN
    SET NOCOUNT ON;

    SELECT 
        r.id AS id_registro,
        u.nombre AS usuario,
        r.fecha,
        r.texto,
        r.emocion,
        r.puntaje
    FROM RegistroEmocional r
    INNER JOIN Usuario u ON r.usuario_id = u.id
    ORDER BY r.fecha DESC;
END;
GO
/****** Object:  StoredProcedure [dbo].[ObtenerUsuarios_SP]    Script Date: 28/10/2025 11:00:47 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[ObtenerUsuarios_SP]
AS
BEGIN
    SELECT id, nombre FROM Usuario WHERE rol = 'estudiante' ORDER BY nombre;
END
GO
/****** Object:  StoredProcedure [dbo].[ObtenerUsuarios_Todos_SP]    Script Date: 28/10/2025 11:00:47 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- ===============================================
-- Listar todos los usuarios
-- ===============================================
CREATE PROCEDURE [dbo].[ObtenerUsuarios_Todos_SP]
AS
BEGIN
    SELECT id, nombre, rol, correo
    FROM Usuario
    ORDER BY id ASC;
END
GO
